<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Who Pays The Bill?</title>
</head>
<body>
  
  <div id="app">

    <variable-template></variable-template>

  </div>

</body>

<script>

  Vue.component('variable-template', {
    data() {
      return {
        nameArray: [],
        nameInput: '',
        isHidden: true,
        nameArrayGreaterThan2: false,
        chosenPayer: {
          name: '',
          chosen: false
        },
        machineQuestioned: false,
      };
    },
    methods: {
      nameArrayLengthCheck() {
        this.nameArray.length > 1 ? this.nameArrayGreaterThan2 = true : '';
      },
      addPersonsName() {
        this.nameArray = [...this.nameArray, this.nameInput];
        this.nameInput = '';
      },
      showInvalidParagraph(show) {
        if (show) {
          this.isHidden = false;
        } else {
          this.isHidden = true;
          this.addPersonsName();
          this.nameArrayLengthCheck();
        };
      },
      checkValidInput() {
        this.nameInput === '' ? this.showInvalidParagraph(true) : this.showInvalidParagraph(false);
      },
      choosePayer() {
        const chosenPayerName = this.nameArray[Math.floor(Math.random() * this.nameArray.length)];
        this.chosenPayer.name = chosenPayerName;
        this.chosenPayer.chosen = true;
      },
      resetApplication() {
        this.machineQuestioned = true;
        setTimeout(() => {
          this.nameArray = [];
          this.nameInput = '';
          this.isHidden = true;
          this.nameArrayGreaterThan2 = false;
          this.choosePayer.name = '';
          this.chosenPayer.chosen = false;
          this.machineQuestioned = false;
        }, 2000)
      }
    },
    template: `
      <div class="app-container">
        <div class="template-div" v-if="!chosenPayer.chosen">
          <form>
            <label for="name">Who Pays the Bill?</label>
            <hr>
            <input v-model.trim="nameInput" type="text" name="name" id="name" autocomplete="off">
            <button @click.prevent="checkValidInput()">Add Name to Draw</button>
          </form>


          <ul>
          <li v-for="name in nameArray">
              {{ name }}
          </li>  
          </ul>

          <button v-show="nameArrayGreaterThan2" @click.prevent="choosePayer()">Click to Choose</button>

          <p class="warning" v-show="!isHidden">You must enter a valid name.</p>

        </div>

        <div class="template-div" v-else-if="machineQuestioned === false">

          <h1>{{ chosenPayer.name }}</h1>

          <p>Has been chosen to pay</p>
          <p>Do Not Question the Machine</p>

          <button @click="resetApplication()">Question The Machine</button>

        </div>

        <div class="template-div" v-else>
          <p class="warning">How Dare You!</p>
          <p>...all right then</p>
        </div>

      </div>
    `
  });

  const app = new Vue({
    el: '#app',
  });

</script>


</html>